*{
  font-family: "8BIT WONDER";
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* Principal Game Page */ 
#container{
  display: flex;
  flex-direction: column;
}
#settings-button{
  background: none;
  border: none;
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;
}

#btn-box{
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom:20%;
  align-items:center;
}
#principal-title{
  font-size:5rem;
  margin-top:100px;

}
#pressStart{
  position: relative;
  width: 25rem;
  height: 3rem;
  background:none;
  border-radius: 50px;
  color: #F223EE;
  font-size:1.5rem;
  border-color: #FFFFFF;
}
#pressStart:hover{
  background-color: #F223EE;
  color:#F2EA23;
  border:none;
  transition:0.3s ;
}
/* Select Language Page */ 
#modal-language{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:3%;
  align-self: center;
  position: relative;
  width: 80%;
  height: 90vh;
  background:#000023;
  border-radius: 25px;
}
.modal-with-border{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  height: 80vh;
  background-color: none;
  border: 4px solid #E35C17;
  border-radius: 25px;
  position:relative;
}
.circles{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #E35C17;
  position:absolute
}
#circle1{
  left: 30px;
  top: 30px;
}
#circle2{
  right: 30px;
  top: 30px;
}
#circle3{
  left: 30px;
  bottom: 30px;
}
#circle4{
  right: 30px;
  bottom: 30px;
}
#language{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#language img{
  margin-right: 30px;
  width: 150px;
}
#language label{
  display: flex;

  align-items: center;
}
#language input[type="radio"]{
  display: none;
}
#flag-EN,#flag-ptBR{
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.modal-titles{
  text-shadow: 3px 3px 3px #F33123;
  font-size:38px;

}

.btn-sec{
  width: 20rem;
  height: 4rem;
  background-color:#233679;
  color: #FFFFFF;
  border-radius: 25px;
  font-size:20px;
  border: none
  }
  .btn-sec:hover{
    background-color:#233679;
    opacity:0.7;
  }

  /* Nickname Page */
  #modal-nickname{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:3%;
    align-self: center;
    position: relative;
    width: 80%;
    height: 90vh;
    background:#000023;
    border-radius: 25px;
  }
  #input-nickname input{
    width: 500px;
    height: 60px;
    background-color:#A79DE1;
    border:none;
    border-radius:25px;
    text-align: center;
    font-size:25px;
  }
  /* Instructions Page */
  #modal-instructions, #modal-instructions-ingame, #modal-instructions-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:3%;
    align-self: center;
    position: relative;
    width: 80%;
    height: 90vh;
    background:#000023;
    border-radius: 25px;
  }
  #text-instructions p{
    align-items: center;
    justify-content: center;
    padding:40px 40px 0 40px;
  }
  #back-to-menu{
    width: 400px;
  }