@import url('http://fonts.cdnfonts.com/css/eight-bit-dragon');
@import url('http://fonts.cdnfonts.com/css/super-legend-boy');                
@font-face {
    font-family: '8BIT WONDER Nominal';
    font-style: normal;
    font-weight: normal;
    src: local('8BIT WONDER Nominal'), url('../fonts/8-BIT WONDER.woff') format('woff');
    }
*{
  font-family: "Super Legend Boy";
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1,h2{
  font-family: "8BIT WONDER Nominal";
}
/* Principal Game Page */ 
#container{
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#settings-button{
  background: transparent;
  border: none;
  position: fixed;
  margin-left: 20px;
  margin-top: 20px;
}
#help-button{
  background: transparent;
  border: none;
  position: fixed;
  margin-left: 20px;
  margin-top: 150px;
}

#btn-box{
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom:20%;
  align-items:center;
}
#principal-title{
  font-size:5rem;
  margin-top:100px;

}
#pressStart{
  position: relative;
  width: 25rem;
  height: 3rem;
  background:none;
  border-radius: 50px;
  color: #F223EE;
  font-size:1.5rem;
  border-color: #FFFFFF;
}
#pressStart:hover{
  background-color: #F223EE;
  color:#F2EA23;
  border:none;
  transition:0.3s ;
}
/* Select Language Page */ 
#modal-language{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:3%;
  align-self: center;
  position: relative;
  width: 80%;
  height: 800px;
  background:#000023;
  border-radius: 25px;
}
.modal-with-border{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  height: 750px;
  background-color: none;
  border: 4px solid #E35C17;
  border-radius: 25px;
  position: relative;

}
.circles{
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #E35C17;
  position:absolute
}
#circle1{
  left: 30px;
  top: 30px;
}
#circle2{
  right: 30px;
  top: 30px;
}
#circle3{
  left: 30px;
  bottom: 30px;
}
#circle4{
  right: 30px;
  bottom: 30px;
}
#language{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#language img{
  margin-right: 30px;
  width: 150px;
}
#language label{
  display: flex;

  align-items: center;
}
#language input[type="radio"]{
  display: none;
}
#flag-EN,#flag-ptBR{
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.modal-titles{
  text-shadow: 3px 3px 3px #F33123;
  font-size:38px;

}

.btn-sec{
  width: 20rem;
  height: 4rem;
  background-color:#233679;
  color: #FFFFFF;
  border-radius: 25px;
  font-size:20px;
  border: none
  }
  .btn-sec:hover{
    background-color:#233679;
    opacity:0.7;
  }

  /* Nickname Page */
  #modal-nickname{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:3%;
    align-self: center;
    position: relative;
    width: 80%;
    height: 800px;
    background:#000023;
    border-radius: 25px;
  }
  #input-nickname input{
    width: 500px;
    height: 60px;
    background-color:#A79DE1;
    border:none;
    border-radius:25px;
    text-align: center;
    font-size:25px;
  }
  /* Instructions Page */
  #modal-instructions, #modal-instructions-ingame, #modal-instructions-menu, #modal-ingame{
    display: flex;
    align-items: center;
    justify-content: center;    
    align-self: center;
    position: relative;
    width: 80%;
    height: 800px;
    background:#000023;
    border-radius: 25px;
  }
  #text-instructions p{
    font-family: "Super Legend Boy";
    align-items: center;
    justify-content: center;
    padding:40px 40px 0 40px;
  }
  #back-to-menu{
    width: 400px;
  }
  /* GamePage */
  #game-box{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 1279px;
    background-color: #000023;
    height: 800px;
    gap:24px;
  }
  #right-box{
    display: flex;
    flex-direction: column;
    gap:24px;
    height:750px;
    padding-right: 17px;  
      
  }
  #modal-ingame .modal-with-border{
    height: 750px; 
    background-color: #E35C17;
    cursor: url(../img/alcool-click.svg), grabbing;    
    cursor: url(../img/alcool.svg) 4 12, url(../img/alcool.svg), auto;  

  }

  #modal-ranking{
    width:352px;
    height: 200px;
    background-color: #000023;
    border-radius: 25px;
  }
  #modal-ranking .modal-with-border{
    width: 350px;
    height: 198px;
   }
  #modal-info-game{
    width:352px;
    height:559px;
    background-color: #000023;
    border-radius: 25px;
  }
  #modal-info-game .modal-with-border{
    width: 350px;
    height: 534px;
  }
  .background-with-crocodile{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 303px;
    background-color: #963200;
    border-radius: 25px 25px 0 0;
    align-items: flex-end;
  }
  .background-with-crocodile img{
    width:293.5px;
    height:91px;
    
  }
  #game-section{
    display:flex;
    width:100%;
    height: 439px;
    flex-wrap: wrap;
    gap:30px;
    padding-left:120px;
    padding-top:44px;
  }
  #game-section .spots{
    width:150px;
    height:92px;
  }
  #modal-ranking .modal-with-border{
    display: flex;
    flex-direction:row;

    
  }
  #modal-ranking hr{
    width:6px;
    height:136px;
    background-color:#E35C17;
    border:transparent;
  }
  #title-ranking{
    position: fixed;
    top:90px
  }
  #next-level {
    background:transparent;
    border: transparent;
  }
  #next-level img{
    background:transparent;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
  }
  #masks img{
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;

  }
  /* Game Manipulation Styles */
.spots{
    
  }
.virus{
    margin-top:-38px;
}
.visible{
  display:block;
}
.invisible{
  display:none;
}

/* Configurations Modals */
#modal-configuration{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:3%;
  align-self: center;
  position: relative;
  width: 40%;
  height: 800px;
  background:#000023;
  border-radius: 25px;
}
.main-menu{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-menu button{
  width: 350px;
  height: 50px;
  background-color:#000023;
  color: #FFFFFF;
  border: 1px solid #EAE9E9;
  border-radius: 25px;
  font-size:25px;

}

.return-game{
  width: 350px;
  height: 60px;
  background-color:#233679;
  color: #FFFFFF;
  border-radius: 15px;
  font-size:25px;
  border: none
}

/* Ajustes de sons */

.sound-menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;

}

.slider{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  appearance: none;
  width: 400px;
  height: 5px;
  background: #f221ef;
}

/* Teclas de atalho */



p{
  text-align: center;
}

.row{
  display: flex;
  justify-content: center;
  margin-left: 45px;
}

.slot-with-label{
  display: flex;
  width: 25%;
  margin-top: 25px;
}

.slot{
  width: 10%;
  padding: 10px;
  margin-right: 10px;
}

label{
  margin-top: 10px;
}

.save{
  width: 350px;
  height: 50px;
  background-color:#000023;
  color: #FFFFFF;
  border: 1px solid #EAE9E9;
  border-radius: 15px;
  font-size:25px;
  font-size: 25px;
}

.btns{
 display: flex;
 flex-direction: column;
 gap: 10px;
}

/* Game over */

img{
  margin-bottom: 50px;
}

.sad-alligator{
  font-size: larger;
}

#btn-retry-and-return{
  display: flex;
  gap: 24px;
}

.retry{
  width: 350px;
  height: 60px;
  background-color:#233679;
  color: #FFFFFF;
  border-radius: 15px;
  font-size:25px;
  border: none
}

.return-start{
  width: 350px;
  height: 60px;
  background-color:#233679;
  color: #FFFFFF;
  border-radius: 15px;
  font-size:25px;
  border: none
}
